.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  color: #350000;

  padding: 6.25vw;
  border-radius: 2.5vw;
  box-shadow: var(--secondary-box-shadow);
  background-color: var(--third-background-color);
}

@media screen and (min-width: 320px) {
  .page {
    padding: 20px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 800px) {
  .page {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .page {
    padding: 1.25vw;
    border-radius: 0.625vw;
  }
}

.text {
  font-size: 1.8rem;
  text-align: center;
  margin: 0;
}
